@page "/"
@using Dapr.Client
@using DaprizzaWeb.Hubs
@using Mdl = DaprizzaModels
@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<EditForm EditContext="EditContext" FormName="NewOrder" OnSubmit="OnSubmit">
    <FluentValidationValidator DisableAssemblyScanning="true" />
    <ValidationSummary/>
    <div class="row">
        <div class="col-lg-6 col-xl-4 mb-3 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">Postal/ZIP Code</label>
                        <InputText class="form-control" @bind-Value="Model.Address.Postcode" />
                        <ValidationMessage For="@(() => Model.Address.Postcode)"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">House Number/Name</label>
                        <InputText class="form-control" @bind-Value="Model.Address.HouseNumberOrName" />
                        <ValidationMessage For="@(() => Model.Address.HouseNumberOrName)" />
                    </div>
                    @{
                        var i = 1;
                    }
                    @foreach (var pizza in Model.Pizzas)
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                Pizza #@i
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label">Pizza Size</label>
                                    <InputSelect class="form-control" @bind-Value="@pizza.Size">
                                        <option value="@PizzaSize.Small">Small</option>
                                        <option value="@PizzaSize.Medium">Medium</option>
                                        <option value="@PizzaSize.Large">Large</option>
                                    </InputSelect>
                                    <ValidationMessage For="@(() => pizza.Size)"/>
                                </div>
                                <div class="mb-0">
                                    <label class="form-label">Toppings</label>
                                    <InputSelect class="form-control" @bind-Value="@pizza.Toppings">
                                        <option value="cheese">Cheese</option>
                                        <option value="tomato">Tomato</option>
                                        <option value="peperoni">Peperoni</option>
                                        <option value="chicken">Chicken</option>
                                    </InputSelect>
                                    <ValidationMessage For="@(() => pizza.Toppings)"/>
                                </div>
                            </div>
                        </div>
                        i++;
                    }
                    <div class="mb-3">
                        <button @onclick="OnAddPizza" class="btn btn-secondary">Add Another Pizza</button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit New Order</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-8">
            @if (Messages.Any())
            {
                <div class="card">
                    <div class="card-header">
                        Messages
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            @foreach (var message in Messages)
                            {
                                <li class="list-group-item">@message</li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>

</EditForm>

@code {
    private Order Model { get; set; }
    private EditContext EditContext { get; set; }
    private List<string> Messages { get; } = [];
    private List<Guid> OrdersCreated { get; } = [];

    private string HubUrl { get; set; }
    private HubConnection HubConnection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = new Order { Pizzas = [new Pizza()] };
        EditContext = new EditContext(Model);

        try
        {
            var baseUrl = NavigationManager.BaseUri;

            HubUrl = baseUrl.TrimEnd('/') + PizzaHub.HubUrl;

            HubConnection = new HubConnectionBuilder()
                .WithUrl(HubUrl)
                .Build();

            HubConnection.On<Mdl.OrderStatusUpdate>("OnOrderStatusUpdate", OnOrderStatusUpdate);

            await HubConnection.StartAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

        await base.OnInitializedAsync();
    }

    private async Task OnOrderStatusUpdate(Mdl.OrderStatusUpdate orderStatusUpdate)
    {
        if (OrdersCreated.Contains(orderStatusUpdate.OrderId))
        {
            Messages.Add($"Order updated: {orderStatusUpdate.Serialize()}");
            await InvokeAsync(StateHasChanged);
        }
    }

    private void OnAddPizza()
    {
        Model.Pizzas = Model.Pizzas.Append(new Pizza()).ToArray();
    }

    private async Task OnSubmit()
    {
        if (!EditContext.Validate())
        {
            return;
        }

        try
        {
            var order = new Mdl.OrderRequest
            {
                Pizzas = Model.Pizzas.Select(p => new Mdl.Pizza
                {
                    Size = p.Size,
                    Toppings = p.Toppings
                }),
                Address = new Mdl.Address
                {
                    HouseNumberOrName = Model.Address.HouseNumberOrName,
                    Postcode = Model.Address.Postcode
                }
            };

            var client = DaprClient.CreateInvokeHttpClient(appId: "daprizza-store");
            var response = await client.PostAsJsonAsync("/api/order", order);
            response.EnsureSuccessStatusCode();

            var responseContent = await response.Content.ReadAsStringAsync();
            var orderResponse = responseContent.Deserialize<Mdl.OrderResponse>();

            OrdersCreated.Add(orderResponse.OrderId);
            Messages.Add($"Your order has been placed: {responseContent}");

            Model = new Order { Pizzas = [new Pizza()] };
            EditContext = new EditContext(Model);
        }
        catch (Exception ex)
        {
            Messages.Add(ex.Message);
        }
    }
}
